@use "variables";
.box {
    font-size: 20px;
    border-radius: 2px;
    padding: 8px;
    width: 450px;
    height: 250px;
    line-height: 16px;
    // margin: auto;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black, inset 0 0 0 1px black;
}

.box2 {
    position: absolute;
    height: 65%;
    width: 60%;
    z-index: 5;
    top: 30%;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    margin: 0;
    h2 {
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
        line-height: 200%;
        margin-left: 3%;
        margin-right: 3%;
    }
    a {
        margin: 5%;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }
}

.boxAppear {
    animation: appear 1s ease-out;
}

@keyframes appear {
    from {
        transform: scaleX(0) scaleY(0);
    }
    to {
        transform: scaleX(1) scaleY(1);
    }
}

.box5 {
    display: none;
    z-index: 5000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    align-content: center;
}